*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font-family: 'Spartan', sans-serif;
  font-size: 15px;
  line-height: normal;
  color: #502050;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  body {
    height: 100vh;
  }
}

.background-top {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.background-top .mobile {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.background-top .desktop {
  display: none;
}

@media (min-width: 768px) {
  .background-top .mobile {
    display: none;
  }
  .background-top .desktop {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.background-bottom {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.background-bottom .mobile {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
}

.background-bottom .desktop {
  display: none;
}

@media (min-width: 768px) {
  .background-bottom .mobile {
    display: none;
  }
  .background-bottom .desktop {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

main {
  text-align: center;
  margin: 4rem 1rem;
}

@media (min-width: 768px) {
  main {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (auto)[2];
        grid-template-rows: repeat(2, auto);
    -webkit-column-gap: 7rem;
            column-gap: 7rem;
    row-gap: 3rem;
    width: calc(100% - 16rem);
  }
}

@media (min-width: 768px) {
  main section.text {
    text-align: left;
  }
}

main section.text h1 {
  font-size: 2rem;
  font-weight: 700;
  margin: 0 1rem 2rem;
}

@media (min-width: 768px) {
  main section.text h1 {
    font-size: 3rem;
    margin: 0 0 2rem;
  }
}

main section.text p {
  line-height: 1.5rem;
}

main section.ratings {
  margin: 2rem 0;
}

@media (min-width: 768px) {
  main section.ratings {
    width: 37rem;
  }
}

main section.ratings div.rated {
  background-color: #f7f2f7;
  border-radius: 0.5rem;
  padding: 1rem;
  margin-bottom: 1rem;
  font-weight: 700;
}

@media (min-width: 768px) {
  main section.ratings div.rated {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    padding: 1.25rem 2rem;
    width: 31rem;
  }
  main section.ratings div.rated:nth-of-type(2) {
    margin-left: 3rem;
  }
  main section.ratings div.rated:nth-of-type(3) {
    margin-left: 6rem;
  }
}

main section.ratings div.rated div.stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 8rem;
  height: 1rem;
  margin: 0 auto 1rem;
}

@media (min-width: 768px) {
  main section.ratings div.rated div.stars {
    margin: 0 2rem 0 0;
  }
}

@media (min-width: 768px) {
  main section.reviews {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    height: 18rem;
  }
}

main section.reviews div.review {
  background-color: #502050;
  color: white;
  border-radius: 0.5rem;
  padding: 2.5rem;
  margin-bottom: 1rem;
  text-align: left;
}

@media (min-width: 768px) {
  main section.reviews div.review {
    height: 16rem;
    margin-bottom: 0;
  }
  main section.reviews div.review:nth-of-type(2) {
    margin-top: 1rem;
  }
  main section.reviews div.review:nth-of-type(3) {
    margin-top: 2rem;
  }
}

main section.reviews div.review div.reviewer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: max-content 1fr;
      grid-template-columns: -webkit-max-content 1fr;
      grid-template-columns: max-content 1fr;
  -ms-grid-rows: (1.25rem)[2];
      grid-template-rows: repeat(2, 1.25rem);
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
  row-gap: 0.25rem;
  margin-bottom: 2rem;
}

main section.reviews div.review div.reviewer img {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  border-radius: 50%;
  height: 100%;
}

main section.reviews div.review div.reviewer h2 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section.reviews div.review div.reviewer p {
  color: #ee68a4;
  line-height: 1.25rem;
}

main section.reviews div.review p {
  font-size: 13px;
  line-height: 1.5rem;
}

.attribution {
  display: none;
  position: absolute;
  bottom: 0;
  width: calc(100% - 2rem);
  font-size: 11px;
  text-align: center;
  padding: 1rem 0;
}

.attribution a {
  color: #ee68a4;
}
/*# sourceMappingURL=index.css.map */